/****************************************************
*  Sidebar
*/

.sidebar {
  background-color: #F6F9FC;
  border-right: 1px solid $color-border;
  padding-right: 1.5em;
}

.sidebar-header {
  padding: 1em;
}
