<div class="sidebar">
  <header class="sidebar-header">
    <h1 class="app-title">App</h1>
  </header>
  <div class="menu-group">
    <span class="list-title">General</span>
    <ul class="menu-list">
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right disabled" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-dashboard" /></svg>Dashboard</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-messaging" /></svg>Messaging</a>
      </li>
      <li class="menu-list__item selected">
        <a href="javascript:;"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-contacts" /></svg>Contacts</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-calendar" /></svg>Calendar</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-library" /></svg>Library</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <span class="list-title">Activity</span>
    <ul class="menu-list">
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-notifications" /></svg>Notifications</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-events" /></svg>Events</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <span class="list-title">Settings</span>
    <ul class="menu-list">
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-account" /></svg>Account</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-integration" /></svg>Integration</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-billing" /></svg>Billing</a>
      </li>
      <li class="menu-list__item">
        <a href="javascript:;" class="tooltip-right" data-tooltip="Currently unavailable"><svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/dist/svg/sprite.svg#icon-help" /></svg>Help</a>
      </li>
    </ul>
  </div>
</div>
